

<div class="col-md-6 offset-md-3">
  <h3> Create Employee </h3>
  <form (ngSubmit) = "onSubmit()">

      <div class="form-group">
          <label>{{'Name' | translate}}</label>
          <input type="text" class ="form-control" id = "Name"
              [(ngModel)] = "employee.name" name = "Name">
      </div>

      <div class="form-group">
          <label> {{'Title' | translate}}</label>
          <input type="text" class ="form-control" id = "title"
              [(ngModel)] = "employee.title" name = "title">
      </div>

      <div class="form-group">
          <label> {{'Email' | translate}} </label>
          <input type="text" class ="form-control" id = "email"
              [(ngModel)] = "employee.email" name = "email">
      </div>

      <div class="form-group">
        <label> {{'DOB' | translate}} </label>
        <input type="date" class ="form-control" id = "email"
            [(ngModel)] = "employee.DOB" name = "DOB">
    </div>

      <button class = "btn btn-success" type ="submit">{{'Submit' | translate}}</button>

  </form>
  </div>
